/*Общие стили*/
.footer {
    background: #454c59;
    width: 100%
}

ul.unstyled {
    margin-top: 40px;
    height: 240px;
    list-style: none;
}

ul.unstyled>li:first-child {
    color: #FFF;
}

ul.social {
    margin-top: 40px;
    height: 240px;
    list-style:none; 
}

ul.social>li {
    display: inline;
}

/*Стили главной страницы*/

header {
    text-align: center;
    color: #fff;
    background: url('../img/header_bg.jpg');
    position: relative;
    width:100%;
    z-index: 1;
    height: 100vh;
    overflow: hidden;
    top: 0;
    left: 0;
}

header .container {
    padding-top: 150px;
    padding-bottom: 50px;
    position: relative;
}

.intro-text {
    position: absolute;
    top: 90px;
    left: 50%;
    z-index: 3;
    color: #355a52;
    text-align: center;
    text-transform: uppercase;
    text-shadow: 1px 1px 0 rgba(0,0,0,.75);
      -webkit-transform: translate3d(-50%,-50%,0);
         -moz-transform: translate3d(-50%,-50%,0);
          -ms-transform: translate3d(-50%,-50%,0);
           -o-transform: translate3d(-50%,-50%,0);
              transform: translate3d(-50%,-50%,0);
}

.intro-text h1 {
    font-size: 3em;    
    font-weight: bold;
    margin: 0;
    padding: 0;
}

.content-wrapper {
    background-color: white;
    top: 87%;
    min-height: 12%;
    position:absolute;
    z-index: 2;
    width: 100%;    
}

.features{
    padding: 20px 0;
	text-align: center;
}

.features > div > div{
	padding: 10px;
	border: 1px solid transparent;
	border-radius: 4px;
	transition: 0.2s;
}

.features > div:hover > div{
	margin-top: -10px;
	border: 1px solid rgb(200, 200, 200);
	box-shadow: rgba(0, 0, 0, 0.1) 0px 5px 5px 2px;
	background: rgba(200, 200, 200, 0.1);
	transition: 0.5s;
}


/*стили страницы "О нас"*/

p {
    color: #626262;
}

p a {
	color: #fff;
}

p a:hover {
	color: #626262;
}

.team{
    padding:75px 0;
}

h6.description{
	font-weight: bold;
	letter-spacing: 2px;
	color: #999;
	border-bottom: 1px solid rgba(0, 0, 0,0.1);
	padding-bottom: 5px;
}

.profile{
	margin-top: 25px;
}

.profile h1{
	font-weight: normal;
	font-size: 20px;
	margin:10px 0 0 0;
}

.profile h2{
	font-size: 14px;
	font-weight: lighter;
	margin-top: 5px;
}

.profile .img-box{
	opacity: 1;
	display: block;
	position: relative;
}

.profile .img-box:after{
	content:"";
	opacity: 0;
	background-color: rgba(0, 0, 0, 0.75);
	position: absolute;
	right: 0;
	left: 0;
	top: 0;
	bottom: 0;
}

.img-box ul{
	position: absolute;
	z-index: 2;
	bottom: 50px;
	text-align: center;
	width: 100%;
	padding-left: 0px;
	height: 0px;
	margin:0px;
	opacity: 0;
}

.profile .img-box:after, .img-box ul, .img-box ul li{
	-webkit-transition: all 0.5s ease-in-out 0s;
    -moz-transition: all 0.5s ease-in-out 0s;
    transition: all 0.5s ease-in-out 0s;
}

.img-box ul i{
	font-size: 20px;
	letter-spacing: 10px;
}
.img-box ul li{
	width: 30px;
    height: 30px;
    text-align: center;
    border: 1px solid #88C425;
    margin: 2px;
    padding: 5px;
	display: inline-block;
}

.img-box a{
	color:#fff;
}

.img-box:hover:after{
	opacity: 1;
}

.img-box:hover ul{
	opacity: 1;
}

.img-box ul a{
	-webkit-transition: all 0.3s ease-in-out 0s;
	-moz-transition: all 0.3s ease-in-out 0s;
	transition: all 0.3s ease-in-out 0s;
}

.img-box a:hover li{
	border-color: #fff;
	color: #88C425;
}

a{
    color:#88C425;
}

a:hover{
    text-decoration:none;
    color:#519548;
}
i.red{
    color:#BC0213;
}

/*Стили страницы "Контакты"*/
input, textarea, button { margin-top:10px }

.required-field-block {
    position: relative;   
}

.required-field-block .required-icon {
    display: inline-block;
    vertical-align: middle;
    margin: -0.25em 0.25em 0em;
    background-color: #E8E8E8;
    border-color: #E8E8E8;
    padding: 0.5em 0.8em;
    color: rgba(0, 0, 0, 0.65);
    text-transform: uppercase;
    font-weight: normal;
    border-radius: 0.325em;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: background 0.1s linear;
    -moz-transition: background 0.1s linear;
    transition: background 0.1s linear;
    font-size: 75%;
}
	
.required-field-block .required-icon {
    background-color: transparent;
    position: absolute;
    top: 0em;
    right: 0em;
    z-index: 10;
    margin: 0em;
    width: 30px;
    height: 30px;
    padding: 0em;
    text-align: center;
    -webkit-transition: color 0.2s ease;
    -moz-transition: color 0.2s ease;
    transition: color 0.2s ease;
}

.required-field-block .required-icon:after {
    position: absolute;
    content: "";
    right: 1px;
    top: 1px;
    z-index: -1;
    width: 0em;
    height: 0em;
    border-top: 0em solid transparent;
    border-right: 30px solid transparent;
    border-bottom: 30px solid transparent;
    border-left: 0em solid transparent;
    border-right-color: inherit;
    -webkit-transition: border-color 0.2s ease;
    -moz-transition: border-color 0.2s ease;
    transition: border-color 0.2s ease;
}

.required-field-block .required-icon .text {
	color: #B80000;
	font-size: 26px;
	margin: -3px 0 0 12px;
}

